<h1 style="text-align:center;">Activity Feed</h1>

<table style="border-spacing: 50px 0; width:100%;">
<% @calls.each do |call| %>
  <tr>
    <td>Created At: <%= call.created_at %></td>
  
    <td>Caller: <%= call.caller %></td>
  
    <td>Called: 
    <% if call.called.blank? %>
      N/A
    <% else %>
      <%= call.called %>
    <% end %>
    </td>

    <td>Status: 
    <% if call.status.blank? %>
      N/A
    <% else %>
      <%= call.status %>
    <% end %>
    </td>

    <td>Duration: 
    <% if call.duration.blank? %>
      N/A
    <% else %>
      <%= call.duration %>
    <% end %>
    </td>

  <% unless call.url.blank? %>
    <td>
      <a href=<%= call.url %>>Voicemail</a>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
